body {
  background-image: url("/Users/Jennifer/Documents/team-aerospace/images/flowers-1325012.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}

button {
 background-color: pink;
 border: none;
 color: white;
 padding: 5px;
 text-align: center;
 text-decoration: none;
 font-size: 20px;
 border-radius: 50%;
 width: 50px;
 height: 50px;
 opacity: 0.8;
 font-weight: 900;
 font-size: 25px;
}

.text-box {
  background-color: grey;
  opacity: 0.7;
  text-align: center;
  margin-top: 100px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

html {
  height: 100%;
}
